
params {
  config_profile_description = 'Biowulf nf-core config'
  config_profile_contact = 'gangalapudiv2@nih.gov'
  config_profile_url = 'https://hpc.nih.gov/apps/nextflow.html'
  max_memory = '20.GB'
  max_cpus = '3' 
  max_time = '4h'
}



profiles {
    biowulf {
	process {
            executor = 'slurm'
            queue = 'norm'
            queueSize = 100
            errorStrategy = 'finish'
            maxRetries = 0
            pollInterval = '1 min'
            queueStatInterval = '5 min'
            submitRateLimit = '6/1min'
//            scratch = '/lscratch/$SLURM_JOBID'
            clusterOptions = ' --gres=lscratch:400'

            withName: cutadapt {
               cpus = '4'
               memory = '2 GB'
               queue = 'quick'
               time = '2h'
           }

            withName: fastqc {
               cpus = '4'
               memory = '2 GB'
               queue = 'quick'
               time = '2h'
           }

            withName: star {
               cpus = '16'
               memory = '120 GB'
               queue = 'ccr,norm'
               time = '20h'
           }

        }

	singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$PWD/singularity"
        singularity.envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID'

//        timeline.enabled = true
//        report.enabled = true
    }
}

